main {
    display: flex;
    gap: 1rem;
    flex-direction: column;

    #list {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        article {
            padding: .5rem;
            display: grid;
            grid-template-columns: 1fr .5fr 1fr .5fr;
            gap: 1rem;
            align-items: center;

            border: 1px solid var(--nord2);

            .actions {
                justify-self: end;
                display: flex;
                flex-direction: column;
                gap: .5rem;
            }
        }
    }
}
