main {
    margin-top: 25dvh;
    width: 100%;
    max-width: 500px;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;

    .logo {
        width: 100px;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        width: 177px;
        
        input {
            width: auto;
            height: auto;
        }

        #errors {
            display: none;
            padding: 0;
            margin: 0;
            list-style: none;

            &:has(li) {
                display: block;
            }

            li {
                overflow-wrap: break-word;
            }
        }

        button {
            align-self: end;
        }
    }
}