main {
    display: flex;
    gap: 1rem;
    flex-direction: column;

    #list {
        /* display: grid;
        gap: 1rem;
        grid-template-columns: repeat(1,1fr); */
        column-count: 1;
        column-gap: 1rem;

        p {
            margin: auto;
            grid-column: 1 / -1;
        }

        article {
            padding: .5rem;
            display: flex;
            gap: 1rem;
            justify-content: space-between;
            position: relative;
            word-break: break-word;

            max-width: 100%;
            border: 1px solid var(--nord2);

            
            .project {
                display: flex;
                flex-direction: column;
                gap: .5rem;

                img {
                    max-height: 150px;
                    object-fit: scale-down;
                }
            }

            .actions {
                align-self: end;
                display: flex;
                flex-direction: column;
                gap: .5rem;
            }
        }

        @media (width > 800px) {
            & {
                /* grid-template-columns: repeat(2, 1fr); */
                column-count: 2;
            }
        }

        @media (width > 1500px) {
            & {
                /* grid-template-columns: repeat(3, 1fr); */
                column-count: 3;
            }
        }

        > * {
            break-inside: avoid;
            margin-bottom: 1rem;
        }
    }
}
